[Unit]
Description=Fan Control Service
After=multi-user.target

[Service]
Type=simple
User=root
Group=root
Environment=PYTHONUNBUFFERED=1
ExecStart=/home/pi/isabella/penv/bin/python3 /home/pi/isabella/antenna_tracker.py
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target