[Unit]
Description=FPV Dashboard Service
After=network.target

[Service]
Type=simple
User=pi
WorkingDirectory=/home/pi/video
ExecStart=/home/pi/video/vid/bin/python /home/pi/video/test_servo.py
Restart=on-failure

[Install]
WantedBy=multi-user.target 